<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssjj.cclibrary">

    <application>
        <activity
            android:name="com.ssjj.cclibrary.CrashActivity"
            android:theme="@style/dialog_style"
            android:screenOrientation="behind" />
    </application>

</manifest>